
<div class=" footer container-fluid justify-content-center d-flex  fontcolor">
        <footer class="text-end position:absolute; left:0; bottom:0; col-10">
               Magic Library || 2024
        </footer>
    </div>

