@model EditViewAuthorModel
@{
    ViewData["Title"] = "";
}


<div class="container">
    <div class="row align-items-center">
        <div class="col-6 align-items-center">
            <div class="mb-4">
                <h2 class="mb-3">Edit Author Details!</h2>
                <p>Welcome to the Edit Author page! On this page, you can update the following details of the author:</p>
            </div>

            <form asp-action="EditAuthor" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label asp-for="AuthorName" class="form-label">Author Name</label>
                            <input asp-for="AuthorName" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                            <span asp-validation-for="AuthorName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="AuthorLastName" class="form-label">Author Last Name</label>
                            <input asp-for="AuthorLastName" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                            <span asp-validation-for="AuthorLastName" class="text-danger"> </span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="DateOfBirth" class="form-label">Author Date of Birth</label>
                            <input asp-for="DateOfBirth" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                   
                </div>
                <div class="col-12 mt-2">
                    <button type="submit" class="btn btn-outline-secondary radius col-4">Save Changes</button>
                    <a asp-controller="AuthorControllers" asp-action="AuthorIndex" type="button" class="btn btn-outline-secondary radius ms-2 col-4">Cancel</a>
                </div>
            </form>
            
        </div>

        <div class="col-6">
            <img class="h-75 w-75" src="~/photo10.jpg">
        </div>
    </div>
    
</div>