@{
    ViewData["Title"] = "Home Page";
}

<div class="container">


    <div class="row align-items-center" style="height: 25vh;">

        <p>
            <h2 style="font-weight:bold;">Welcome to Your Digital Library</h2>
        </p>

        <div class="col-6">

            <p>

                <h3 style="font-weight:bold;">Discover </h3>
                Discover, create, and manage your personal collection of books with ease. Our platform offers you the opportunity to explore a vast world of books across various genres, authors, and publication years. Whether you're a passionate reader or an aspiring curator, you can dive into an ever-expanding library, add new books, and even build your own personalized bookshelf.

                <h3 style="font-weight:bold;">Explore Books and Authors </h3>

                Browse through a wide range of titles, from timeless classics to the latest bestsellers. Get to know authors, their works, and dive deeper into their literary worlds. Find your next read with advanced search filters based on genre, publication year, or author.

                <h3 style="font-weight:bold;"> Create Your Own Library</h3>
                Create Your Own Library
                Not just a place to explore, but also a space for you to shape. Add books you own or wish to read, and organize them however you like. Create a digital bookshelf that reflects your personal tastes and literary journey.

                <h3 style="font-weight:bold;"> Join the Community</h3>

                Connect with fellow book lovers, share your thoughts, and discover new titles through community recommendations. Whether you're here to organize your collection or explore new stories, your adventure starts here.

                Start your journey today – your personal library awaits!
            </p>

        </div>

        <div class="col-6 justify-content-end d-flex ">

            <image class="h-75 w-75" src="../photo4.jpg"> </image>
            <p class="align-items-center col-1 d-flex btn ">
                We are such stuff
                As dreams are made on, and our little life
                Is rounded with a sleep.
            </p>
          
        </div>
    </div>
</div>