@{
    ViewData["Title"] = "Home Page";
}

<div class="container">


    <div class="row align-items-center  justify-content-center" style="height: 25vh;">


        <div class="col-6 py-3">


            <p>
                <h2 class="justify-content-start d-flex" style="font-weight:bold;"> ABOUT US...</h2>
            </p>


            <p>Our Digital Library is a user-friendly platform that allows you to step into a world full of books. We provide everything you need to read, explore, and organize your personal collections. Our goal is to create a digital space where book lovers can enjoy discovering all kinds of books and building their own personal library.</p>

            <p>Our Digital Library gives you access to an extensive collection of books. While discovering books, you can search using filters like authors, genres, publishers, publication years, and more, making it easier to find new titles that interest you. Additionally, you can organize your books however you like, creating a digital bookshelf that reflects your personal preferences. Add the books you own, list the ones you want to read, and organize them in any way that suits your needs.</p>

            <p>Our platform goes beyond just a space for creating a digital collection. We've built a community for book lovers. Here, you can connect with other readers, share your thoughts on books, and receive recommendations. Through book suggestions, reviews, and comments, you can discover new titles and deepen your literary journey.</p>

            <p>Create your personal library and start your journey in the world of books. Our Digital Library offers everything you need to make your reading experience richer and more enjoyable. Start exploring and step into a new world filled with books today!</p>

            <a class="btn btn-outline-secondary radius py-2 col-4 text-dark" asp-area="" asp-controller="Library" asp-action="LibraryIndex">
                DISCOVER NOW!
            </a>

        </div>

        <div class="col-6 justify-content-end d-flex ">

            <image class="h-75 w-75" src="../photo6.jpg"> </image>
          

        </div>


    </div>
</div>